    <header>
    <nav class="navbar">
      <div class="logo"><span class="logoSpan">🌾Agri</span>Bid</div>
      <ul class="nav-links">
        <li><a href="/login">LogIn</a></li>
        <li><a href="/register">Registre</a></li>
      
      </ul>
    </nav>
  </header>