/* ===== General Layout ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
  background-image: url("https://images.pexels.com/photos/440731/pexels-photo-440731.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

/* ===== Main Container to hold content + footer ===== */
.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

/* ===== Login Box ===== */
.form-container {
  background: rgba(255, 255, 255, 0.15);
  padding: 35px 30px;
  border-radius: 15px;
  backdrop-filter: blur(6px);
  width: 90%;
  max-width: 400px;
  color: black;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.form-container h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 28px;
  color: green;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

.form-group label {
  margin-bottom: 5px;
  font-size: 14px;
  color: #fff;
}

.form-group input {
  padding: 10px;
  border: none;
  border-bottom: 2px solid #ccc;
  background: transparent;
  color: #fff;
  font-size: 15px;
}

.form-group input:focus {
  outline: none;
  border-bottom: 2px solid #00ffff;
}

/* ===== Form Actions ===== */
.forgot {
  text-align: left;
  margin-bottom: 15px;
}

.forgot a {
  font-size: 14px;
  color: green;
  text-decoration: none;
}


.forgot:hover{
  text-decoration: underline green;
}

.form-actions {
  text-align: center;
  margin-top: 20px;
}

.form-actions button {
  padding: 10px 25px;
  background-color: green;
  color: #fff;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.form-actions button:hover {
  background-color: darkgreen;
}

/* ===== Register Link ===== */
.register-link {
  margin-top: 5px;
  margin-left: 204px;
  text-align: center;
}

.register-link a {
  color: black;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
}

.register-link a:hover {
  text-decoration: underline;
}

/* ===== Alert Box ===== */
.alert {
  background: rgba(255, 255, 255, 0.15);
  color: #721c24;
  border: 2px dashed #f5c6cb;
  border-radius: 4px;
  margin-bottom: 15px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.alert p {
  margin: 0;
  padding: 0 10px;
}

/* ===== Footer Styling ===== */
footer {
  background-color: #2e7d32;
  color: white;
  text-align: center;
  padding: 25px 15px;
  font-size: 14px;
}


.footer-btn{
  background: orange;
  color: white;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
  margin: 0 10px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
