<!--boiler plats-->
<% layout("../layoutes/EnteringBoilerplats") %>

<link rel="stylesheet" href="/css/login.css">


  <div class="form-container">
    <h2>Login to AgriBid</h2>

    <% if(typeof message !== 'undefined') { %>
          <div class="alert">
              <p><%=message%></p>
          </div>
        <%}%>  

    <form action="/login" method="POST">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email"  required>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
      </div>
          
       <div class="forgot">
       <a href="/forget">Forget Password :</a>
       </div>

      <div class="form-actions">
        <button type="submit">Login</button>
      </div>
    </form>
      <div class="register-link">
         <a href="/register">Create New Account?</a>
       </div>
    
  </div>

