<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgriBid</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="page-wrapper">
    <header>
    <nav class="navbar">
      <div class="logo"><span class="logoSpan">🌾Agri</span>Bid</div>
      <ul class="nav-links">
        <li><a href="/login">LogIn</a></li>
        <li><a href="/register">Registre</a></li>
      
      </ul>
    </nav>
  </header>

  <main>
    <section class="hero">
    <h2>Connect Farmers to Buyers</h2>
    <p>A transparent and efficient platform for auctioning agricultural produce.</p>
    <a href="/login" class="cta-button">Get Started</a>
    </section>
  </main>


  <!-- Footer -->
  <footer>
    <p>&copy; 2025 AgriBid. All Rights Reserved.</p>
  </footer>
</div>


    <script src="js/main.js"></script>
    
</body>
</html>
